@import '../../../styles.scss';

.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $color3;
    background: url('../../../assets/Subtle-Prism.svg');
    .login-body
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 50px 20px;
        border-radius: 8px;
        background-color: $color1;
        width: 410px;
        height: 530px;
        max-width: 410px;
        max-height: 530px;
        transition: 1s;
        animation: pop 5s normal forwards;
        animation-iteration-count: 1;
        .login-form
        {
            display: flex;
            flex-direction: column;
            border-color: black;
            margin-top: 40px;
            padding: 20px;
            width: 100%;
            align-items: center;
            justify-content: center;
            .inputs
            {
                width: 225px;
                .title
                {
                    margin-left: 8px;
                    font-size: small;
                    margin-bottom: 2px;
                }
                .input
                {
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                    padding: 10px;

                    //Remoção de borda padrão do chrome em inputs com borda
                    border: 2px solid #eee;
                    -webkit-appearance: none; 
                    -moz-appearance: none; 
                    margin-bottom: 10px;
                    
                }
                .button
                {
                    margin-top: 15px;
                    width: 225px;
                    height: 30px;
                    border-radius: 10px;
                    font-size: small;
                    border: none;
                    background-color: $color4;
                    color: white;
                    &:hover
                    {
                        box-shadow: 1px 2px rgba(128, 128, 128, 0.427);
                        background-color: rgb(26, 196, 97);
                    }
                }
            }
            padding-bottom: 30px;
        }
        .line
        {
            width: 80%;
            opacity: 0.4;
        }
        .other-logins
        {
            width: 100%;
            padding-top: 20px;
            font-weight: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            .icons
            {
                width: 50%;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .icon-login
                {
                    border: none;
                    background-color: transparent;
                    &:hover
                    {
                        border: none !important;
                        background-color: transparent;
                        filter: drop-shadow(1px 1px 1px rgba(87, 87, 87, 0.543));
                    }
                }
            }
        }
    }
    .flaticon
    {
        margin-top: 4px;
        font-size: smaller;
        top: 95%;
        left: 70%;
        color: white;
        a 
        {
            color: white;
        }
    }
}
@keyframes pop 
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 500px) 
{
  .login-body
  {
    width: 307px;
    height: 530px;
    max-width: 307px !important;
    max-height: 530px;
    transition: 1s;
    .login-form
    {
      // margin-top: 20px;
      // padding: 20px;
    }
  }
}