<div class="circle"></div>

<div class="login-page">
    <div class="login-area">
        <div id="my-particles" class="image">
            
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Faça seu login</h1>
                <label for="username" class="sr-only">Username</label>
                <input type="user" id="username" name="username" class="form-control" placeholder="Username" formControlName="username" required="" autofocus="" ngModel required>
                <label for="pwd" class="sr-only">Password</label>
                <input type="password" id="pwd" name="pwd" class="form-control" formControlName="pwd" placeholder="Password" required="" ngModel required>
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Lembre de mim
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
              </form>
        </div>
    </div>
</div>

