.card {
  width: 320px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.card .head {
  display: flex;
  flex-direction: row;
}
.card .head .image {
  border-radius: 50%;
  padding: 4px;
}
.card .head .name {
  margin-top: 30px;
  color: black;
  flex: 2;
  height: 20px;
}
.card .head .delete-icon:hover {
  fill: #bbe1fa;
}
.card .body {
  margin-top: -2px;
  display: flex;
  flex-direction: row;
  color: black;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: justify;
  padding: 0 6px;
  font-size: 14px;
}
