@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header
{
  background-color: rgb(57,57,57);
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 100%;
  .title
  {
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    color:#2de55f;
    padding-left: 10px;
    flex: 1;
  }
  .sections-menu
  {
    flex: 1;
    line-height: 2;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    font-family: 'Roboto', monospace;
    .item
    {
      padding-left: 25px;
      padding-right: 25px;
      color: white;
      border-radius: 8px;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      &:hover
      {
        text-shadow: 2px 2px black;
        cursor:pointer;
      }
      text-decoration: none !important;
    }
    .item-selected
    {
      padding-left: 18px;
      padding-top: 0px;
      padding-right: 18px;
      background-color: #2de55f;
      border-radius: 14px;
      transition-duration: 1.2s;
      -webkit-transition-duration: 1.2s;
      box-shadow: 3px 2px 8px black;
      text-decoration: none;      
      cursor:none !important;
      &:hover
      {
        cursor:none !important;
        text-shadow: 0px 0px black;
      }
      a
      {
        color: black;
      }
    }
  }

  .right-side
  {
    flex: 1;
  }
  a
  {
    text-decoration: none;
    color: white;      
  }
}
