/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
*
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body 
{
    -webkit-font-smoothing: antialiased;
}

$color1: hsla(0%, 0%, 94%, 1);
$color2: hsla(202%, 66%, 39%, 1);
$color3: hsla(210%, 30%, 11%, 1);
$color4: hsla(145%, 71%, 47%, 1);
$color5: hsla(180%, 7%, 16%, 1);

/* RGB */
$color1: rgba(239, 239, 239, 1);
$color2: rgba(34, 116, 165, 1);
$color3: rgba(19, 27, 35, 1);
$color4: rgba(35, 206, 107, 1);
$color5: rgba(39, 45, 45, 1);