.background
{
  background-color: #6AFF5E;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.welcome
{
    font-size: 3.4rem;
    // position: absolute;
    // top: 10.5rem;
    // left: 10%;
    opacity: 0;
    // color: #F0A3BE;
    animation: fadeInOut 3.5 normal forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-duration: 5.5s; 
}

@keyframes fadeInOut 
{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}